.container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2.5rem;
    color: var(--primary-main);
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .eventsGrid {
    margin-top: 2rem;
  }
  
  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-default);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    max-width: 800px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 1300;
  }
  
  .modalHeader {
    margin-bottom: 1rem;
  }
  
  .modalTitle {
    color: var(--primary-main);
    font-size: 2rem;
    margin-bottom: -1rem;
    margin-left: 0.8rem;
  }
  
  .modalDescription {
    color: var(--primary-main);
    font-size: 1.1rem;
    line-height: 1.6;
    margin-left: 1rem;
  }
  
  .seatPickerContainer {
    background: var(--background-default);
    border-radius: 12px;
    margin-left: 1rem;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
    
    .title {
      font-size: 2rem;
    }
    
    .modalContent {
      padding: 1rem;
    }
    
    .modalTitle {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 1.75rem;
    }
    
    .modalDescription {
      font-size: 1rem;
    }
  }